
.daterangepicker td.in-range {
    background-color: #1c95c673 !important;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}


.daterangepicker{
  border-radius: 10px !important;
  background-color: #383b43 !important;
  left: auto !important;
  right: 0 !important;
}
.daterangepicker:after {
  border-bottom: 6px solid #383b43 !important;
}
.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #383b43 !important;
}
.daterangepicker .calendar-table {
    background-color: #383b43 !important;
}

.daterangepicker th:hover{
    background-color: #52afd4 !important;
    color: #fafafa !important;
}
.daterangepicker th{
    color: #52afd4 !important;
}
.daterangepicker th{
    color: #52afd4 !important;
}
.daterangepicker th.month {
    color: white !important;
}
.daterangepicker td.off {
    background-color: #383b43 !important;

}
.daterangepicker td.available, th.next.available,th.prev.available{
    color: #fafafa !important;
}
.daterangepicker td.off.available {
    color: grey !important;
}
.daterangepicker td.available:hover {
    color: #fafafa !important;
    background-color: #52afd4 !important;
}


.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #1b95c6 !important;
}
.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  /* border-bottom: 6px solid #fff; */
  border-left: 6px solid transparent;
}

.calendar{
  border-radius: 10px !important;
}

.daterangepicker .input-mini.active {
    border: 0px solid #0af !important;
    border-radius: 4px!important;
    background-color: #1a97c6!important;
    color: #fff!important;
}
.daterangepicker .calendar-table {
     border: 0px solid #fff !important;
}

.daterangepicker .input-mini {
    border: 0px solid #ccc !important;
    background-color: #282828;
    color: #fafafa !important;
}
.daterangepicker .daterangepicker_input i {
    color: #fafafa !important;
}
.operation-date
{
  width: 340px;
  background-color: #232323;
  color: #fff;
  border-style: none;
  text-align: center;
}
