.textbox1 {
    margin-left: 2%;
    color: white;
    text-align: left;
    float: left;
    width:70%;
}
.textbox2 {
    margin-left: 2%;
    color: white;
    text-align: left;
    float: left;
    width: 70%;
}
.divs{
    margin-top:1%;
}