
html,
body, .height-container, #item0{
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    /*font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;*/
    font-family: Avenir;
}

.img-logo{
    padding-bottom:0px;
}

.title-logo{
  text-align: center;
  }
@media (min-width: 768px){
.title-logo{
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  }
  .img-logo{
    vertical-align: middle;
    display:inline-block;
    width:240px;
    height:200px;
      padding-bottom: 16px;
  }

}

@font-face {
     font-family: Avenir;
     src: url('../resources/fonts/avenir-lt-std/Avenir-Light.ttf');
     /*src: url('./fonts/avenir-lt-std/AvenirLTStd-Light.otf'); */
}

hr {
    max-width: auto;
    border-color: #ffffff;
    border-width: 1.5px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #ff9600;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-family: Avenir;
}

p {
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-family: Avenir;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.login-logo{
  left: 50%;
margin-left: -100px;
    position:absolute;
    z-index: 1;
    color:#fff;
    text-align: center;
    top:25px;
}

.form-control{
    border-radius: 20px;
}

.submit-box{
  z-index: 1;
  margin-top: 15px;
}

.form-textfields{
    display: inline-block;
    max-width: 160px;
    width: 50%;
    vertical-align:top;
}


.login-form{
  position: absolute;
  color: #fff;
  z-index: 1;
  width: 100%;
  height: 180px;
  text-align: center;
  top: 50%;
  margin-top: -60px;
}
@media (min-width: 768px){
    .login-logo{
      left:0px;
      vertical-align: middle;
      position: absolute;
      float: right;
      z-index: 1;
      color: #fff;
      text-align: left;
      top: 50%;
      margin-top: -100px;
      margin-left: 45px;
    }

    .login-form{
      display: table;
      margin-right: 20px;
      position: absolute;
      text-align: right;
    }
    .submit-box{
      margin-top: 0px;
      margin-left: 20px;
      z-index: 1;
      display: inline-block;
    }
    .form-control{
        border-radius: 20px;
        width:100%;
    }
}


.logo-footer{
  height: 40px;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: #efb543;
  font-size: 10px;
  background-color: #26282d;
  padding-right: 10px;
}
@media (min-width: 768px){
  .logo-footer{

    text-align: right;

  }
}

.img-footer{
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.btn-circle {
    margin-right: 0px;
    width: auto;
    height: auto;
    padding: 30px 15px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 30px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

@media (min-width: 768px){
  .btn-circle {
    margin-right: 20px;
  }
}



.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.bg-primary {
    background:  -webkit-linear-gradient(180deg, #ffd16e, #ff9600); /* For Safari 5.1 to 6.0 */
    background:  -o-linear-gradient(180deg, #ffd16e, #ff9600); /* For Opera 11.1 to 12.0 */
    background:  -moz-linear-gradient(180deg, #ffd16e, #ff9600); /* For Firefox 3.6 to 15 */
    background:  linear-gradient(180deg, #ffd16e, #ff9600); /* Standard syntax */
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-family: Avenir;
    background-color: #000;
    opacity: 0.6;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-family: Avenir;
    font-weight: 700;
    color: #fff;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #66ffcc;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #66ffcc!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #000;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f16f53;
    }
}


header {
    position: relative;
    width: 100%;
    z-index:-1;
    color: #000;
    height: 100%;
    background-image: url(../resources/jpg/background.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:100%) {
/*@media(min-width:768px) {*/
    header {
        min-height: auto;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(255,150,0,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-family: Avenir;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #ff9600;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #000;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #ff9900;
    color: #fff;
    background-color: #ff9900;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ffcc00;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f16f53;
    background-color: #f16f53;
}

.btn-primary .badge {
    color: #f16f53;
    background-color: #fff;
}

.btn {
    border: 1;
    border-radius: 300px;
    text-transform: uppercase;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-family: Avenir;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

.alert{
  text-align: center !important;
}
