## load sidebar and navigation bar
{% extends "base.html" %}
##load title
{% block title %} Index {% end %}

{% block javascripts %}
<script src={{static_url("js/index.js")}}></script>
{% end %}

<!-- Custom styles for this template -->
{% block styles %}
<link href={{static_url("css/index.css")}} rel="stylesheet">
{% end %}

#item value
{% block sidebar_item %}Index{% end %}

##the content page is here
{% block content %}
<div class="">
    <div class="textbox1" id="textbox1">
    </div>
    <div id="textbox2" style="visibility: hidden"></div>
</div>



{% end %}