## load sidebar and navigation bar
{% extends "base.html" %}
##load title
{% block title %} Index {% end %}

{% block javascripts %}
<script src={{static_url("js/indexs.js")}}></script>
{% end %}

<!-- Custom styles for this template -->
{% block styles %}
<link href={{static_url("css/index.css")}} rel="stylesheet">
{% end %}

#item value
{% block sidebar_item %}Index{% end %}

##the content page is here
{% block content %}
<div class="">
    <div class="textbox2" id="textbox2">
    </div>
    <div id="textbox1" style="visibility: hidden">
    </div>
</div>



{% end %}