<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Default title{% end %}</title>


  <!-- Bootstrap core CSS -->
  <link href={{static_url( "css/bootstrap.css")}} rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href={{static_url( "js/font-awesome/css/font-awesome.min.css")}} rel="stylesheet" type="text/css">
  <link href={{static_url( "resources/fonts/Roboto/Roboto.css")}} rel="stylesheet">
  <!-- Plugin CSS -->
  <!-- Custom styles for this template -->
  <link href={{static_url( "css/base.css")}} rel="stylesheet">

  <!-- Custom styles for this template -->
  {% block styles %}{% end %}

</head>

<body class="fixed-nav" id="page-top">
  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <img width="45" height="34" src={{static_url( "resources/png/mini_xx.png")}} alt="mdc monitor">
    <a class="title-platform" href="#">Proximity Sensor</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" id="administracion">
          <a class="nav-link nav-link-collapse" data-toggle="collapse" href="#collapseComponents1">
            <i class=" fa-fw fa fa-video-camera"></i>
            <span class="nav-link-text">Areas</span>
          </a>
          <ul class="sidenav-second-level collapse show" id="collapseComponents1">
            <li id="areaf">
              <a href='/areaf'>
                <i class="fa-fw fa fa-tasks"></i>
                <span>Area Mantención</span>
              </a>
            </li>
            <li id="areas">
              <a href='/areas'>
                <i class="fa-fw fa fa-tasks"></i>
                <span>Area Refinería</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
      </li>

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="content-wrapper py-3">
    <div class="container-fluid">

      <!-- Breadcrumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">{%block sidebar_item%}{%end%}</a>
        </li>
        <li class="breadcrumb-item active">{%block sub_sidebar_item%}{%end%}</li>
      </ol>

      {%block content%}
      <div class="row"> Default content</div>{%end%}

    </div>
  </div>
  <!-- /.container-fluid -->

  </div>
  <!-- /.content-wrapper -->

  <!-- Scroll to Top Button -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <!-- Logout Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Done?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          To log out press "Exit"
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">back</button>
          <a class="btn btn-primary" href="/auth/logout">Exit</a>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class='hostdata-footer'>{{hostname}} ({{ip}})</div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src={{static_url( "js/datepicker/moment.min.js")}}></script>
  <script src={{static_url( "js/jquery/jquery.min.js")}}></script>
  <script src={{static_url( "js/popper/popper.min.js")}}></script>
  <script src={{static_url( "js/bootstrap.js")}}></script>
  <script src={{static_url( "js/notify/notify.js")}}></script>


  <!-- Plugin JavaScript -->

  <!-- Custom scripts for this template -->
  <script src={{static_url( "js/base.js")}}></script>


  {%block javascripts%}{% end %}

</body>

</html>