{% extends "base.html" %}
{% block title %} denied {% end %}

{% block javascripts %}
<!--<script src={{static_url( "js/queue/queue.js")}}></script>-->
{% end %}

{% block styles %}
  <link href={{static_url( "css/denied.css")}} rel="stylesheet">
{% end %}

{% block sidebar_item %} DENIED {% end %}

{% block content %}
<div class="content-denied">
  <div class="denied"><span >Access Denied</span></div>
  <div class="denied-description"><span >You do not have permission to see this screen.</span></div>
</div>
{% end %}
